h1, h2, h3, h4, h5, h6 {
 font-family: sans;
 }
table {
 border: 0.125em solid black;
 border-collapse: collapse;
 }
table th {
 font-family: sans;
 border: 0.125em solid black;
 padding: 0.2em;
 }
table td {
 border: 0.125em solid black;
}

.tip {
 background-color: #A0B0FF;
 font-family: Sans;
 font-weight: bold;
 border: 0.2em solid black;
 padding: 0.5em;
 }
.warn {
 background-color: yellow;
 font-family: Sans;
 font-weight: bold;
 border: 0.25em solid black;
 padding: 0.5em;
 }

#author {
 font-style: italic;
 }
